<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>img0.jpg</string>
		<key>name</key>
		<string>歯磨き粉</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img1.jpg</string>
		<key>name</key>
		<string>ジョイ</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img2.jpg</string>
		<key>name</key>
		<string>シャンプー</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img3.jpg</string>
		<key>name</key>
		<string>トイレットペーパー</string>
	</dict>
</array>
</plist>
